{
  "presets": ["@babel/env"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "transform-remove-debugger",
    "@babel/plugin-transform-function-name",
    "transform-remove-console",
    "transform-minify-booleans",
    "minify-dead-code-elimination"
  ],
  "comments": false
}
